.app {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
  margin: 0 auto;
  min-width: 18rem;
  padding-top: 2.5rem;
  position: relative;
  width: 95%;
}

@media screen and (min-width: 560px) {
  .app {
    width: 50rem;

    .mainContent {
      .mainImageContainer {
        img {
          height: 45vh;
          object-fit: cover;
        }
      }

      .content {
        flex-direction: column;

        .desc {
          font-size: 2rem;
        }

        .readMoreBtn {
          font-size: 1.5rem;
          width: 20rem;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .app {
    width: 55rem;

    .item {
      .contents {
        span {
          font-size: 2.2rem;
        }

        h5 {
          font-size: 1.7rem;
        }
        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .app {
    gap: 3rem;
    grid-template-areas:
      "navbar navbar navbar"
      "mainContent mainContent sidebar"
      "item1 item2 item3";
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 120rem;
    width: 85%;

    .navbar {
      grid-area: navbar;
    }

    .mainContent {
      grid-area: mainContent;
      row-gap: 1rem;

      .content {
        align-items: center;
        flex-direction: row;
        .title {
          font-size: 3.5rem;
          width: 50%;
        }

        div {
          width: 50%;

          .desc {
            font-size: 1.4rem;
          }
          .readMoreBtn {
            font-size: 1rem;
            width: 14rem;
          }
        }
      }
    }

    .sidebar {
      grid-area: sidebar;
    }

    .itemsContainer {
      grid-area: itemsContainer;
      flex-direction: row;
      justify-content: space-between;
    }

    .item1 {
      grid-area: item1;
    }

    .item2 {
      grid-area: item2;
    }

    .item3 {
      grid-area: item3;
    }
  }
}
