@import "colors.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 4rem;
  }

  .menu,
  .close {
    cursor: pointer;
  }

  .menu {
    width: 3.5rem;
    height: 2.3rem;
  }

  .close {
    height: 2.3rem;
    z-index: 999;
  }

  .links {
    display: flex;
    list-style-type: none;
    column-gap: 3rem;
    align-items: center;

    li {
      a {
        text-decoration: none;
        color: $dark-grayish-blue;
        letter-spacing: 0.5px;
        font-size: 1.2rem;
      }

      a:hover {
        color: $soft-red;
      }
    }
  }
}
